.container{
    display:flex;
    /* background-color: green; */
    justify-content: space-around;
    height:500px;
    width: 100vw;
}

.image{
    height: 475px;
    width: 400px;
    margin-top:10px;
}
#img-1{
    background-image: url('https://i.imgur.com/KsWckDO.png');
}
#img-2{
    background-image: url('https://i.imgur.com/NtbjEBS.png');
}
#img-3{
    background-image: url('https://i.imgur.com/taubdcw.png');
}
.feature-container,.mustRead-container{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    height:60px;
}

.feature-title,.must-read{
    font-weight: normal;
    margin-top:4px;
}
