/* @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Nothing+You+Could+Do&display=swap'); */

/* #site-title{
    color:gray;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 90px;
    font-weight:500;
    margin-top:10px;
    margin-bottom: 10px;
} */
.container{
    display:flex;
    /* background-color: green; */
    justify-content:space-evenly;
    height:570px;
    width: 100vw;
}

.image{
    height: 550px; 
    width: 30vw;/*400px*/
    margin-top:10px;
    opacity: 0;
    transition: 4s opacity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#img-1{
    background-image: url('https://i.imgur.com/KsWckDO.png');
}
#img-2{
    background-image: url('https://i.imgur.com/NtbjEBS.png');
}
#img-3{
    background-image: url('https://i.imgur.com/taubdcw.png');
}
h2{
    margin:0;
}
p{
    margin:0;
}
.feature-container,.mustRead-container{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    height:60px;
}

.feature-title,.must-read{
    font-weight: normal;
    margin-top:4px;
}
.section-container,.section-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100vw;
}

.caption-div{
 width: 300px;
 /* background-color: aqua; */
 opacity: 0;
 transition: 4s opacity;
}
.caption-span{
    text-decoration: underline;
    color: black;
}
.caption-span:hover{
    color:gray
}
.section-container2{
    margin-top: 30px;
}
.test{
    height:400px;
    width: 23vw;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.4s opacity;
}
#test-1{
    background-image: url('https://i.imgur.com/VnaQxCz.png');
}
#test-2{
    background-image: url('https://i.imgur.com/QVUKvWE.png');
}
#test-3{
    background-image: url('https://i.imgur.com/kJ3nUX4.png');
}
#test-4{
    background-image: url('https://i.imgur.com/yAj55h3.png?1');
}
#test-5{
    background-image: url('https://i.imgur.com/qFtG5es.png');
}
#test-6{
    background-image: url('https://i.imgur.com/6JaDvGg.png');
}
#test-7{
    background-image: url('https://i.imgur.com/wZBQKQ2.png?1');
}
#test-8{
    background-image: url('https://i.imgur.com/2yemljv.png');
}

.mustRead-article{
    display: flex;
    justify-content:center ;
}
.break{
    height: 400px;
    width:15px;
}
#mustRead1{
    background-image: url('https://i.imgur.com/FUApr36.png');
    height: 400px;
    width: 29vw;/*400px*/
    margin-top: 10px;
    margin-bottom: 10px;
}
#mustRead2{
 background-image: url('https://i.imgur.com/BW9IsSC.png');
 height: 400px;
 width:31vw; 
 margin-top: 10px;
 margin-bottom: 10px;

}
#mustRead3{
background-image: url('https://i.imgur.com/kd3yww7.png');
height: 400px;
width: 29vw;
margin-top: 10px;
margin-bottom: 10px;

}

#mustRead4{
background-image: url('https://i.imgur.com/4TDMPgy.png');
 height:350px;
 width:40vw;
 margin-bottom: 10px;
}
#mustRead5{
background-image: url('https://i.imgur.com/3ImspjX.png');
height:350px;
width:50vw;
margin-bottom: 10px;
}

.video{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


/* notes for media quires */
/* make the veiwport width for #test 90 */