@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
body{
    margin:0;
}

.header-container{
    display: flex;
    justify-content: center;
}
hr{
    margin: 0;
}
.nav-container{
    display: flex;
    justify-content: center;
    background-color:white;
    width: 100%;
    height: 60px;
    margin-top: 0 ;
}
ul{
    margin-top:20px;
}

li{
    list-style: none;
    display: inline;
    font-size: 20px;
}

#li-1, #li-2, #li-3{
  padding-right: 10px;
  color:black;
}

#li-4{
    color:black;
}

